<p>Recently I've been using more and more <a href="https://vuejs.org/">Vue.js</a> in the client code for my ASP.NET MVC websites. It provides a great balance between modern interactive client functionality and server logic. However, one area that's been troubling me is how to integrate the powerful built-in <code>ModelState</code> <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation#model-state">server-side validation framework</a> with the client, particularly in WebAPI or other service-based scenarios. Ideally, I'd like to display server-side validation errors on the client when data fails to validate due to validation attributes like <code>[Required]</code>. This article shows one way to do that.</p>
<h1 id="server">Server</h1>
<p>The first thing we need to do is get the <code>ModelState</code> to the client in the first place. The whole <code>ModelState</code> object is too complex for our needs so I've written a helper method that can take a <code>ModelStateDictionary</code> and convert it to a <code>ContentResult</code> suitable for returning from an action:</p>
<pre><code>public static ErrorContentResult ErrorsToJsonResult(this ModelStateDictionary modelState)
{
    IEnumerable&lt;KeyValuePair&lt;string, string[]&gt;&gt; errors = modelState.IsValid
        ? null
        : modelState
            .ToDictionary(kvp =&gt; kvp.Key, kvp =&gt; kvp.Value.Errors.Select(e =&gt; e.ErrorMessage).ToArray())
            .Where(m =&gt; m.Value.Any());
    return new ErrorContentResult
    {
        Content = JsonConvert.SerializeObject(errors, settings),
        ContentType = &quot;application/json&quot;
    };
}
</code></pre>
<p>You can use this helper from any action:</p>
<pre><code>// Do some processing...
if(!ModelState.IsValid)
{
    ModelState.ErrorsToJsonResult();
}
// Finish up and return a success response
</code></pre>
<p>After using this, if the model state is invalid it'll return an error response and JSON payload that looks like this:</p>
<pre><code>[  
  {  
    &quot;Key&quot;:&quot;Foo&quot;,
    &quot;Value&quot;:[  
      &quot;The Foofield is required.&quot;
    ]
  },
  {  
    &quot;Key&quot;:&quot;Bar&quot;,
    &quot;Value&quot;:[  
      &quot;The Barfield is required.&quot;
    ]
  }
]
</code></pre>
<h1 id="client">Client</h1>
<p>Now that the server is returning our model state errors as JSON, let's take a look at how we can process that in Vue.js. The trick is to put the errors somewhere where arbitrary Vue components can react to them. This method will concatenate the model state JSON we're sending back for each key and then set a top-level data property called <code>modelState</code> in the Vue model <code>v</code>:</p>
<pre><code>processModelState: function(response, vm) {
    if(response) {
        $.each(response, function(i, state) {
            var message = &quot;&quot;;
            var stateErrors = response[i].Value;
            if(stateErrors)
            {
                $.each(stateErrors, function (j, stateError) {
                    if (j &gt; 0) {
                        message += &quot;; &quot;;
                    }
                    message += stateError;
                });
                vm.$set(vm.modelState, state.Key, message);
            }
        });
    }
}
</code></pre>
<p>Notice that we have to use <code>$set</code> to create the <code>modelState</code> properties. That's because <a href="https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats">Vue can't react to new properties</a>. The <code>Vue.set</code> method (and it's alias <code>$set</code>) adds a pre-wrapped reactive property to an object.</p>
<p>This can then be used within an event handler like this:</p>
<pre><code>submit: function(event) {
    // Clear the modelState before submission
    for (var error in this.modelState) {
        delete this.modelState[error];
    }
    // Need to capture this
    var self = this;
    $.ajax({
        method: &quot;POST&quot;,
        processData: false,
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(self.model),
        error: function(error) {
            // Here's where the model state errors get set
            self.processModelState(error.responseJSON, self);
        },
        success: function(data) {
            // ...
        }
    });
}
</code></pre>
<p>Now we need to rig up the UI to react to items in the <code>modelState</code> Vue model property. For example, if you're using horizontal forms in <a href="https://getbootstrap.com/docs/3.3/">Bootstrap</a>, this might look something like:</p>
<pre><code>&lt;div class=&quot;form-group&quot; :class=&quot;{'has-error': modelState['Foo'] !== undefined}&quot;&gt;
    &lt;label class=&quot;col-sm-4 control-label&quot;&gt;Document&lt;/label&gt;
    &lt;div class=&quot;col-sm-8 form-control-static&quot;&gt;
        &lt;input v-model=&quot;model.Foo&quot;&gt;
        &lt;div class=&quot;help-block&quot;&gt;Please enter some data.&lt;/div&gt;
        &lt;div class=&quot;help-block&quot; v-if=&quot;modelState['Foo'] !== undefined&quot;&gt;&lt;strong&gt;&lt;span class=&quot;k-icon k-i-warning&quot;&gt;&lt;/span&gt; {{ modelState['Foo'] }}&lt;/strong&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p>That will set the <code>has-error</code> CSS class on the outer <code>form-group</code> if there are model state errors for the given key and will display a bold <code>help-block</code> with the error message(s). We can do better though. Here's a component that does something similar:</p>
<pre><code>&lt;script type=&quot;x-template&quot; id=&quot;form-group-template&quot;&gt;
    &lt;div class=&quot;form-group&quot; :class=&quot;{'has-error': error !== undefined}&quot;&gt;
        &lt;label v-if=&quot;label !== undefined&quot; class=&quot;col-sm-4 control-label&quot;&gt;{{ label }}&lt;/label&gt;
        &lt;div class=&quot;form-control-static col-sm-8&quot; :class=&quot;{'col-sm-offset-4': label === undefined}&quot;&gt;
            &lt;slot&gt;&lt;/slot&gt;
            &lt;div class=&quot;help-block&quot; v-if=&quot;help&quot;&gt;{{ help }}&lt;/div&gt;
            &lt;div class=&quot;help-block&quot; v-if=&quot;error !== undefined&quot;&gt;&lt;strong&gt;&lt;span class=&quot;k-icon k-i-warning&quot;&gt;&lt;/span&gt; {{ error }}&lt;/strong&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/script&gt;

&lt;script&gt;
    Vue.component('form-group', {
        template: '#form-group-template',
        props: ['label', 'help', 'error']
    });
&lt;/script&gt;
</code></pre>
<p>Which lets us write this:</p>
<pre><code>&lt;form-group label=&quot;Document&quot; help=&quot;Please enter some data.&quot; :error=&quot;modelState['Foo']&quot;&gt;
    &lt;input v-model=&quot;model.Foo&quot;&gt;
&lt;/form-group&gt;
</code></pre>
<p>You would need to tweak the component and CSS usage depending on what CSS framework you're using and how you want everything to look, but hopefully you get the idea. I'm curious if anyone else is doing something similar or has found a better way to report server-side validation failures on the client.</p>
